.footer {
    display: flex;
    flex-direction: column;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #f2f2f2;
    
}

.pais {
    text-align: left;
    padding-left: 20px;
    color: #707070;
    border-bottom: 1px solid #a3a2a2;
}

.footerbar {
    display:flex;
}

.links {
    display: flex;  
    margin-right: 60%;
}

.links:last-child {
    margin-right: 0; /*remove a margem da última div*/
}

.links a{
    margin-left: 20px;
    color: #707070;
    text-decoration: none;
}

.links a:hover {
    text-decoration: underline;
}
